---
import Layout from "../layouts/Layout.astro";
---

<Layout title="National Dutch Flag">
	<main>
		<h1>National Dutch Flag</h1>
		<p class="instructions">
			<a class="underline" href="https://en.wikipedia.org/wiki/Dutch_national_flag_problem"
				>The National Dutch Flag algorithm</a
			>, a clever sorting technique, takes its name from the Dutch national flag, which consists of three horizontal
			stripes of red, white, and blue. Similarly, this algorithm efficiently sorts an array with three distinct elements
			by organizing them in the same order as the flag's colors. The algorithm employs a two-pointer approach to
			traverse the array, ensuring that elements smaller than the pivot (representing the red stripe) move to the front,
			elements equal to the pivot stay in the middle, and elements larger than the pivot shift to the end.
		</p>
	</main>
</Layout>

<style></style>
